<!-- create_project.html -->
<!DOCTYPE html>
{% extends 'base.html' %}
<html>

<head>
    <title>Create Project</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>

</html>
