<!-- projects/templates/project_list.html -->
<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
</head>

<body>
    <main>
        <div>
            <h1>Project List</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p> <!-- Added this line -->
            <table>
                <thead>
                    <tr>
                        <th>Project Title</th>
                        <th>Total Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <!-- This generates the link to the project detail view -->
                        <td>{{ project.tasks.all|length }}</td>
                        <!-- This shows the total number of tasks for the project -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
